<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href={{ url_for('static',filename='css/CSS.css') }}>
    <title>CV</title>
</head>
<body>
    <h1 align="center" style="color: aliceblue; font-size: 70px">Daniel Glants CV</h1>
    <div class="Links">
        <div id="LinkedIn"> <a href="https://www.linkedin.com/in/danielglants/">
        <img border="0" alt="LinkedIn" src="LinkdLogo.png" width="100" height="100"></a>
        </div>
        <div id="Git"><a href="https://github.com/Daniel-Glants">
        <img alt="LinkedIn" src="GitHub-logo.png" width="100" height="100" ></a>
        </div>
        <div id="CV">
            <a href="Daniel Glants CV.pdf" download>
            <img src="pdf logo.png" alt="CV Download" width="70" height="80"></a>
            <br>
            Download CV
        </div>
    </div>
<br>
<br>

    <div class="grid-container">
        <div class="Heading" >
            <p style="font-size: 30px; size: auto" > About me</p>
            Statistics, Economics & Data Science Student, Currently Budget Manager Asst. at Ben-Gurion University of the Negev.
            <div id="bullet1">
            <ul align="left">
            <li>Broad financial education and programming experience with JAVA , Python and R.</li>
            <li>Entrepreneurs, Responsible and accurate about details.</li>
            <li>Excellent interpersonal skills, learning ability and tolerance.</li>
            </ul>
            </div>
        </div>
        <div class="Left"
             style="color: aliceblue;
             font-size: 20px">
            <br>
            Information
            <br>
            <br>
            <img id="Avatar" src="Photo.jpg" alt="Profile Picture">
            <br><br>
            languagees
            <br>
            <div class ="languages">
                <div class ="Heb">
                    <div class="donut-chart chart1">
                    <div class="quad one"></div>
                    <div class="quad two"></div>
                    <div class="quad three"></div>
                    <div class="quad four"></div>
                    <div class="quad top"></div>
                    <div class="chart-center"></div>
                    </div><!--/.donut-chart-->
                </div>
                <div class ="English"><div class="donut-chart chart2">
                    <div class="quad one"></div>
                    <div class="quad two"></div>
                    <div class="quad three"></div>
                    <div class="quad four"></div>
                    <div class="quad top"></div>
                    <div class="chart-center"></div>
                    </div><!--/.donut-chart--></div>
                <div class ="Rus"><div class="donut-chart chart3">
                    <div class="quad one"></div>
                    <div class="quad two"></div>
                    <div class="quad three"></div>
                    <div class="quad four"></div>
                    <div class="quad top"></div>
                    <div class="chart-center"></div>
                    </div><!--/.donut-chart--></div>
            </div>
            <br>
            <br>
            Age
            <br>
            29
            <br>
            <br>
            <a href="CV_Daniel_Glants/Contacts.html">Contacts</a>
        </div>

        <div class="Right" style="color: aliceblue;
             font-size: 20px;" >
            <br>
            What I've been doing lately:
        `   <button type="button" class="collapsible" >2017 - Today: Budget Manager Assistant - Ben-Gurion University</button>
            <div class="content">
              <ol>
                  <li>Preparation of Financial Reports for Salaries, Scholarships and Research
                        grant applications submitted by the Academic research staff.
                  </li>
                  <li>Budget control  and monitoring, through E-Tafnit Software. </li>
                  <li>Classification and screening of documents submitted by university
                        employees.
                    </li>
              </ol>
            </div>
            <button type="button" class="collapsible">2016: Project & Sales Coordinator - Menora Mivtachim Insurance.</button>
            <div class="content">
              <ol>
                  <li>Wide training in the field of Pensions, Insurance and Finance.</li>
                  <li>Providing professional solutions to clients in a wide range of ages and socio-economic status in different languages.</li>
                  <li>Participation in unique projects of critical importance.</li>
              </ol>
            </div>
            <button type="button" class="collapsible">2015: Project Quality Control - Beer-Sheva Municipality</button>
            <div class="content">
                <ol>
                  <li>Checking the propriety of building plans.</li>
                  <li>Managed project progresss and tracking reports.</li>
                  <li>Working with engineers, architects and assessors.</li>
              </ol>
            </div>
        </div>
        <div class="Middle"style="color: aliceblue;
             font-size: 20px">
            <br>
            Things I'm good at:
            <ul class="chart">
              <li>
                <span style="height:90%" title="Python"></span>
              </li>
                <li>
                <span style="height:80%" title="R"></span>
              </li>
                <li>
                <span style="height:70%" title="SQL"></span>
              </li>
                <li>
                <span style="height:60%" title="Java"></span>
              </li>
                <li>
                <span style="height:70%" title="HTML"></span>
              </li>
                <li>
                <span style="height:60%" title="CSS"></span>
              </li>
              <li>
                <span style="height:40%" title="Java Script"></span>
              </li>


            </ul>

        </div>
        <div class="Footer"style="color: aliceblue;
             font-size: 20px; text-align: center">
            Contact Me
            <form style="text-align: left">
                <p >Pleas fill al the fields</p>
                <label for="FullName">Enter Full Name:</label>
                <input type="text" id="FullName" name="FullName" required>
                <label for="E-mail">Enter E-mail Address: </label>
                <input type="email" id="E-mail" name="E-mail">
                <br>
                <label for="Comment">Enter Comment: </label>
                <textarea id="Comment" cols="50" rows="8"></textarea>
                <br>
                <input type="submit">
            </form>
        </div>
    </div>

    <script src="CV.js"></script>
</body>


</html>