# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\Daniel\Desktop\BGU\Year 5\Semester A\WEB\EXS\repos\Hello-World.Daniel-Glants\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
